<div style="background-color: rgb(203, 240, 240);">
<div class="container">
    <h3 class="text-center" style="margin-bottom: 2rem;color:rgb(8, 126, 126);">Customer Registration Form</h3>
    <form [formGroup]="RegiForm" (ngSubmit)="Registration()" novalidate>
        <div class="card" style="width:60%;height:auto;border: 1px solid gray;padding:10px 20px;margin-top: 10px;margin-left: 25%;">
            <!-- {{RegiForm.valid}} -->
            <div class="row" style="margin-bottom: 10px;">
                <div class="col col-sm-4">  
                    <label>Customer Name : </label>
                </div>
                <div class="col col-sm-8"> 
                    <input type="text" formControlName="Fname" [class.is-invalid]="RegiForm.get('Fname')?.invalid && RegiForm.get('Fname')?.touched" class="form-control" placeholder="Enter Your Full Name">
                    <span *ngIf="RegiForm.get('Fname')?.invalid && RegiForm.get('Fname')?.touched">
                        <p class="text-danger" *ngIf="RegiForm.get('Fname')?.errors?.required">Full Name Is Required</p>  
                    </span>
                </div>   
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col col-sm-4"> 
                    <label>Phone No. : </label>
                </div>
                <div class="col col-sm-8"> 
                    <input type="tel" formControlName="phone" class="form-control" [class.is-invalid]="RegiForm.get('phone')?.invalid && RegiForm.get('phone')?.touched" placeholder="Enter Your Phone Number">
                    <span *ngIf="RegiForm.get('phone')?.invalid && RegiForm.get('phone')?.touched">
                        <p class="text-danger" *ngIf="RegiForm.get('phone')?.errors?.required">Phone Number Is Required</p> 
                        <p class="text-danger" *ngIf="RegiForm.get('phone')?.errors?.maxlength">Enter Valid Number</p>
                    </span> 
                </div> 
            </div>  

            <div class="row" style="margin-bottom: 10px;">
                <div class="col col-sm-4"> 
                    <label>Email : </label>
                </div>
                <div class="col col-sm-8"> 
                    <input type="email" formControlName="Email" class="form-control" [class.is-invalid]="RegiForm.get('Email')?.invalid && RegiForm.get('Email')?.touched" placeholder="Enter Your Email Id">
                    <span *ngIf="RegiForm.get('Email')?.invalid && RegiForm.get('Email')?.touched">
                        <p class="text-danger" *ngIf="RegiForm.get('Email')?.errors?.required">Email Is Required</p>
                        <p class="text-danger" *ngIf="RegiForm.get('Email')?.errors?.email">Enter Valid Email Id</p>
                    </span> 
                </div> 
            </div>  

            <div class="row" style="margin-bottom: 10px;">
                <div class="col col-sm-4"> 
                    <label>Password : </label>
                </div>
                <div class="col col-sm-8"> 
                    <input type="password" formControlName="password" class="form-control" [class.is-invalid]="RegiForm.get('password')?.invalid && RegiForm.get('password')?.touched" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&*!]).{8,20})" placeholder="Enter Your Password">
                    <span *ngIf="RegiForm.get('password')?.invalid && RegiForm.get('password')?.touched">
                        <p class="text-danger" *ngIf="RegiForm.get('password')?.errors?.required">Password Is Required</p>
                        <p class="text-danger" *ngIf="RegiForm.get('password')?.errors?.pattern">password must have one uppercase letter , one special character, one numeric and minimum 8 characters.</p>
                    </span> 
                </div> 
            </div>  

            <div class="row" style="margin-bottom: 10px;">  
                <div class="col col-sm-4"> 
                    <label>Confirm Password : </label>
                </div>
                <div class="col col-sm-8"> 
                    <input type="password" formControlName="Cpassword" class="form-control" [class.is-invalid]="RegiForm.get('Cpassword')?.invalid && RegiForm.get('Cpassword')?.touched" placeholder="Enter Confirm Password">
                    <span *ngIf="RegiForm.get('Cpassword')?.invalid && RegiForm.get('Cpassword')?.touched">
                        <p class="text-danger" *ngIf="RegiForm.get('Cpassword')?.errors?.required">Password Is Required</p>
                        <p class="text-danger" *ngIf="RegiForm.get('Cpassword')?.errors?.MustMatch">Password Does Not Match</p>
                    </span> 
                </div> 
            </div>   
        </div> 

        <div formArrayName="data">
            <div class="card" *ngFor="let mob of data.controls;let i=index" [formGroupName]="i" style="width:60%;height:auto;border: 1px solid gray;padding:10px 20px;margin-top: 10px;margin-left: 25%;">
                <h3 class="text-center" style="margin-bottom: 2rem;color:rgb(8, 126, 126);">Branch Details</h3>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4">    
                        <label>Branch Name : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="text" formControlName="branch" id="{{'branch'+i}}" class="form-control " [class.is-invalid]="RegiForm.get('branch')?.invalid && RegiForm.get('branch')?.touched" placeholder="Enter Branch Name">
                        <!-- <span [class.d-none]="data.get('branch')?.valid && data.get('branch')?.untouched">
                            <p class="text-danger" *ngIf="data.get('branch')?.errors?.required">Branch Name Is Required</p>  
                        </span> -->
                    </div>  
                </div>  
                
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Email : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="email" formControlName="branchEmail" id="{{'branchEmail'+i}}" class="form-control" [class.is-invalid]="RegiForm.get('branchEmail')?.invalid && RegiForm.get('branchEmail')?.touched" placeholder="Enter Your Email Id">
                        <!-- <span *ngIf="RegiForm.get('branchEmail')?.invalid && RegiForm.get('branchEmail')?.touched">
                            <p class="text-danger" *ngIf="RegiForm.get('branchEmail')?.errors?.required">Email Is Required</p>
                            <p class="text-danger" *ngIf="RegiForm.get('branchEmail')?.errors?.email">Enter Valid Email Id</p>
                        </span>  -->
                    </div> 
                </div> 

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Phone No. : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="text" formControlName="branchphone" id="{{'branchphone'+i}}" class="form-control" [class.is-invalid]="RegiForm.get('branchphone')?.invalid && RegiForm.get('branchphone')?.touched" pattern="^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$" placeholder="Enter Branch Phone Number">
                        <!-- <span *ngIf="RegiForm.get('branchphone')?.invalid && RegiForm.get('branchphone')?.touched">
                            <p class="text-danger" *ngIf="RegiForm.get('branchphone')?.errors?.required">Phone Number Is Required</p> 
                            <p class="text-danger" *ngIf="RegiForm.get('branchphone')?.errors?.pattern">Enter Valid Number</p>
                        </span>  -->
                    </div> 
                </div>  

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Branch City : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="text" formControlName="city" id="{{'city'+i}}" class="form-control" [class.is-invalid]="RegiForm.get('city')?.invalid && RegiForm.get('city')?.touched" placeholder="Enter City">
                        <!-- <span *ngIf="RegiForm.get('city')?.invalid && RegiForm.get('city')?.touched">
                            <p class="text-danger" *ngIf="RegiForm.get('city')?.errors?.required">City Is Required</p>
                        </span>  -->
                    </div> 
                </div>  

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Branch Address : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <textarea type="text" formControlName="BranchAddress" id="{{'BranchAddress'+i}}" class="form-control" [class.is-invalid]="RegiForm.get('BranchAddress')?.invalid && RegiForm.get('BranchAddress')?.touched" placeholder="Enter Branch Address"></textarea>
                        <!-- <span *ngIf="RegiForm.get('BranchAddress')?.invalid && RegiForm.get('BranchAddress')?.touched">
                            <p class="text-danger" *ngIf="RegiForm.get('BranchAddress')?.errors?.required">Branch Address Is Required</p> 
                        </span>  -->
                    </div> 
                </div>  

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Branch Type : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="radio" formControlName="BranchType" id="{{'BranchType'+i}}" value="Main Branch">&nbsp;
                            <span style="margin-right: 1rem;">Main Branch</span> 
                        <input type="radio" formControlName="BranchType" id="{{'BranchType'+i}}" value="Sub Branch">&nbsp;
                        <span style="margin-right: 1rem;">Sub Branch</span> 
                        <!-- <span *ngIf="RegiForm.get('BranchType')?.invalid && RegiForm.get('BranchType')?.untouched">
                            <p class="text-danger" *ngIf="RegiForm.get('BranchType')?.errors?.required">Branch Type Is Required</p> 
                        </span>  -->
                     </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col col-sm-4"> 
                        <label>Branch Business : </label>
                    </div>
                    <div class="col col-sm-8"> 
                        <input type="checkbox" formControlName="check1" id="{{'check1'+i}}" value="Marketing">&nbsp;
                            <span style="margin-right: 1rem;">Marketing</span> 
                        <input type="checkbox" formControlName="check2" id="{{'check2'+i}}" value="IT">&nbsp;
                            <span style="margin-right: 1rem;">IT</span> 
                        <input type="checkbox" formControlName="check3" id="{{'check3'+i}}" value="BPO">&nbsp;
                            <span style="margin-right: 1rem;">BPO</span> 
                        <input type="checkbox" formControlName="check4" id="{{'check4'+i}}" value="Sales">&nbsp;
                            <span style="margin-right: 1rem;">Sales</span> 
                        <input type="checkbox" formControlName="check5" id="{{'check5'+i}}" value="Electronics">&nbsp; 
                            <span style="margin-right: 1rem;">Electronics</span>
                        <!-- <span *ngIf="RegiForm.get('Cpassword')?.invalid && RegiForm.get('Cpassword')?.touched"> -->
                            <!-- <p class="text-danger" *ngIf="RegiForm.get('Cpassword')?.errors?.required">Password Is Required</p>  -->
                        <!-- </span>  -->
                    </div>
                </div>

            </div>
        </div> 
        
        <div style="margin-top: 10px;" align="center">
            <input type="button" class="btn btn-secondary" (click)="add()"  value=" + Add Branch">  
        </div> 

        <div style="margin-top: 10px;" align="center">
            <input type="submit" class="btn btn-primary" value="Submit">  
        </div>

    </form>
</div>
</div>